@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", sans-serif;
  color: #3b3b3b;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a{
  text-decoration: none;
}

.container{
  //width:1000px;
  margin:0 auto;
}
.text-center{
  text-align: center;
}
